NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OLLAMA_API_KEY=
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=

# MySQL connection for Prisma
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:password@localhost:3306/itinerary_db"
